article#using-luxa
    h2 Getting Started
    p Luxa CSS is simple and focused; its goal is to provide a lightweight solution easily implemented in any development context.
    p
        | With simple class names like&nbsp;
        span.code .lx-btn
        | &nbsp;or&nbsp;
        span.code .lx-row
        | , and a simple modifier system, like&nbsp;
        span.code .is-left
        | , it is easy to learn and use.
    h3 Quick Start
    h4 By CDN
    p To quickly add Luxa CSS, use the jsDelivr CDN, a free and open-source CDN.
    .code-box
        .code
            span.line
                | &#x3C;
                span.c2 link 
                span.c3 rel=
                span.c4 &#x22;stylesheet&#x22; 
                span.c3 href=
                span.c4 &#x22;https://cdn.jsdelivr.net/gh/luxonauta/luxa@latest/dist/expanded/luxa.css&#x22;
                | &#x3E;
            br
            span.line
                | &#x3C;
                span.c2 link 
                span.c3 rel=
                span.c4 &#x22;stylesheet&#x22; 
                span.c3 href=
                span.c4 &#x22;https://cdn.jsdelivr.net/gh/luxonauta/luxa@latest/dist/compressed/luxa.css&#x22;
                | &#x3E;
    h4 By Download
    p
        | Download the files the files from the&nbsp;
        a(
            href="https://github.com/luxonauta/luxa/tree/master/dist",
            target="_blank",
            rel="noopener noreferrer"
        ) dist/&nbsp;
        | folder and include them in your HTML with a link.
    p There are two folders inside:
    ol
        li
            p Compressed - A minified version.
        li
            p Expanded - A standard CSS file.
    hr
    h3 Customize, Rewrite or Change
    p Want to customize, rewrite or change something, to suit your needs better?
    p Start by cloning the repository:
    .code-box
        .code
            span.line git clone https://github.com/luxonauta/luxa.git
    p
        | This project needs&nbsp;
        a(
            href="https://nodejs.org/en/",
            target="_blank",
            rel="noopener noreferrer"
        ) Node
        | , as the project uses&nbsp;
        a(
            href="https://gulpjs.com/",
            target="_blank",
            rel="noopener noreferrer"
        ) Gulp
        | .
    p Make sure it is installed, with the following commands:
    .code-box
        .code
            span.line node --version
            br
            span.line npm --version
            br
            span.line npx --version
    p
        | If not, follow the&nbsp;
        a(
            href="https://nodejs.org/en/",
            target="_blank",
            rel="noopener noreferrer"
        ) instructions here
        | .
    p After, install the Gulp command line utility;
    p
        | Install it following the&nbsp;
        a(
            href="https://gulpjs.com/docs/en/getting-started/quick-start/",
            target="_blank",
            rel="noopener noreferrer"
        )
            i.fas.fa-link
            | Gulp installation tutorial
        | , or run the command on the terminal:
    .code-box
        .code
            span.line npm i
    p
        b Verify your Gulp versions
    .code-box
        .code
            span.line gulp --version
    p
        b Then test it!
    p Now all you have to do is initialize it:
    .code-box
        .code
            span.line npm run gulp
    p And you're ready!
    hr