mixin pen(hash,title)
    p.codepen(
        data-theme-id="dark",
        data-default-tab="result",
        data-user="luxonauta",
        data-slug-hash=hash,
        data-preview="true",
        data-pen-title="Luxa - "+title
    )
        span
            | See the Pen&nbsp;
            a(
                href="https://codepen.io/luxonauta/pen/"+hash,
                target="_blank",
                rel="noopener noreferrer"
            ) #{title}
            | &nbsp;by Lucas de França (
            a(
                href="https://codepen.io/luxonauta",
                target="_blank",
                rel="noopener noreferrer"
            ) @luxonauta)
            | &nbsp;on&nbsp;
            a(
                href="https://codepen.io",
                target="_blank",
                rel="noopener noreferrer"
            ) CodePen.