footer
    nav.lx-container-70
        script(
            src="//cdn.carbonads.com/carbon.js?serve=CESDC2QL&placement=luxacsscom",
            id="_carbonads_js",
            async="true"
        )
        .lx-row.align-stretch
            .lx-column.brand
                span
                    i.fas.fa-user-astronaut
                    | &nbsp;Luxa CSS
                span.lx-badge v1.1
            .lx-column.links
                span
                    i.fas.fa-map-signs
                    | &nbsp;
                    b Map
                a(href="./index.html") Home
                a(href="./docs.html") Docs
            .lx-column.about-me
                span
                    i.fas.fa-comment
                    | &nbsp;
                    b Contact
                a(
                    href="https://github.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Github
                a(
                    href="https://codepen.io/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Codepen
                a(
                    href="https://twitter.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Twitter
            .lx-column
                a(
                    href="https://ko-fi.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer",
                    aria-label="Buy me a coffee on Ko-Fi."
                ).has-dflex-center.bmc
                    img(src="assets/media/ko-fi.png" alt="Ko-Fi logo" width="90" height="32" loading="lazy")
                br
                small.is-text-centered
                    | If you like the project, please consider supporting me by buying me a 
                    i.fas.fa-coffee
                    |  !