footer
    nav.lx-container-70
        .lx-row.align-stretch
            .brand
                span
                    i.fas.fa-user-astronaut
                    | &nbsp;Luxa
                span.lx-badge v1.01
            .links
                span
                    i.fas.fa-map-signs
                    | &nbsp;
                    b Map
                a(href="./index.html") Home
                a(href="./docs.html") Docs
            .about-me
                span
                    i.fas.fa-comment
                    | &nbsp;
                    b Contact
                a(
                    href="https://github.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Github
                a(
                    href="https://stackoverflow.com/story/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Stack Overflow
                a(
                    href="https://codepen.io/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Codepen
                a(
                    href="https://twitter.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Twitter