footer
    nav.lx-container-70
        .lx-row.align-stretch
            .lx-column.brand
                span
                    i.fas.fa-user-astronaut
                    | &nbsp;Luxa CSS
                span.lx-badge v1.1
            .lx-column.links
                span
                    i.fas.fa-map-signs
                    | &nbsp;
                    b Map
                a(href="./index.html") Home
                a(href="./docs.html") Docs
            .lx-column.about-me
                span
                    i.fas.fa-comment
                    | &nbsp;
                    b Contact
                a(
                    href="https://github.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Github
                a(
                    href="https://stackoverflow.com/story/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Stack Overflow
                a(
                    href="https://codepen.io/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Codepen
                a(
                    href="https://twitter.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer"
                    ) Twitter
            .lx-column
                a(
                    href="https://www.buymeacoffee.com/luxonauta",
                    target="_blank",
                    rel="noopener noreferrer",
                    aria-label="Buy me a coffee"
                ).has-dflex-center.bmc
                    img(src="assets/media/bmc.svg" alt="Buy me a coffee logo" width="160" height="32" loading="lazy")