article
    h2 On such a timeless flight...
    span.help
        S 01/12/2020
        |  - 02/12/2020 [Edit] - 
        a(
            href="https://twitter.com/luxonauta",
            target="_blank",
            rel="noopener noreferrer"
        ) Lucas de França
    img.gif(
        src="https://media.giphy.com/media/74k1youGFe0Ug/giphy.gif",
        crossorigin="anonymous",
        alt="Astrocat",
        width="425",
        height="240",
        loading="lazy"
    )
    p Thank you all the friends and co-workers who sent me messages and encouraged me to create Luxa CSS, and help me with the project!
    p It has been a very nice adventure and this crew only grows more and more to infinity and beyond!
    p Recently there has been a huge increase in visits here on the docs site, so I thought it would be a good time to start publishing a blog with project updates.
    h3 Why I created the framework?
    p
        | Luxa CSS was born out of a need for me and my co-workers when I joined 
        a(
            href="https://www.unoeste.br/",
            target="_blank",
            rel="noopener noreferrer"
        ) Unoeste - Universidade do Oeste Paulista
        | .
    p Before, there was no standard for development. Thus, when another dev had to support a project he did not build, he wasted too much time to understand the development pattern of the responsible colleague.
    p So I started planning Luxa. I built a base version and it was quickly adopted. Since then I haven't stopped developing it.
    p In the Luxa CSS repository on Github, I say that is the first time I have ventured into something like this and that English is not my native language. So, since his creation, it has been a very enriching journey, as I have been in contact with many people, even from other countries and I have learned a lot! If you are reading this, I am already grateful for spending your time!
    h3 Project Roadmap
    p
        | Luxa CSS is maintained by me, 
        a(
            href="https://twitter.com/luxonauta",
            target="_blank",
            rel="noopener noreferrer"
        ) luxonauta
        | , and I have tried, within my capabilities and available time, to develop the project continuously.
    p In this post I want to talk about some issues, resources, components and changes coming to the short term future and also some of the long term plans.
    h5 - Forms
    p Yes, forms, sources of many headaches even for experienced devs!
    p The goal here is to unify the initial look between browsers and common field types, almost like a reset, with a minimum of customization to look elegant.
    h5 - Colors
    p I have been studying a nice way to offer this feature for some time. As I had no prior knowledge, this feature was postponed.
    h5 - Documentation translation in other languages
    p Very important for accessibility, I initially thought of my native language (Brazilian Portuguese) and Hindi.
    blockquote If you want to contribute, this is a great way!
    h4 In a few light years?!
    p Themes, templates, video tutorials and snippets of Javascript code to copy, paste and thus add functionality (Luxa CSS is a framework focused on style only).
    p Moving forward in spacetime, I want to make Luxa CSS a tool to help you develop your projects in a simple, light and safe way!
    br
    h4 Consider supporting me and the project by buying me a coffee:
    a(
        href="https://www.buymeacoffee.com/luxonauta",
        target="_blank",
        rel="noopener noreferrer",
        aria-label="Buy me a coffee"
    ).has-dflex-center.bmc
        img(src="assets/media/bmc.svg" alt="Buy me a coffee logo" width="160" height="32" loading="lazy")
    a(
        href="https://ko-fi.com/luxonauta",
        target="_blank",
        rel="noopener noreferrer",
        aria-label="Buy me a coffee on Ko-Fi."
    ).has-dflex-center.bmc
        img(src="assets/media/ko-fi.png" alt="Ko-Fi logo" width="90" height="32" loading="lazy")