.lx-container-70
    .lx-row
        h3 Templates
        p Start with these templates so you can start designing your website easily with minimal setup time. I will always be updating these, so keep an eye on our blog.
    .lx-row
        .lx-column.is-3
            h4 Starter Template
            a.image(
                href="./assets/examples/st/index.html",
                target="_blank",
                rel="noopener noreferrer"
            )
                img(
                    src="./assets/media/stprtsc.png",
                    alt="A Print Screen from Luxa Start Template."
                )
            p This is the simplest starter page with a Header, a Hero section with a call to action, and icons.
            .lx-row.btns-row
                a.lx-btn(
                    href="./assets/examples/st/index.html",
                    target="_blank",
                    rel="noopener noreferrer"
                )
                    i.fas.fa-eye
                    | &nbsp;Demo
                a.lx-btn(
                    href="./assets/examples/st/luxa-st.zip",
                    target="_blank",
                    rel="noopener noreferrer"
                )
                    i.fas.fa-download
                    | &nbsp;Download